{% extends 'templates/BasePage.html'%}

{% block body %}
<form class="well" action="/page/channel_manage" method="post">
    <div>
        <label for="channel_id"> ChannelId: </label>
        <input class="input-xlarge" id="channel_id" type="text" name="channel_id" />
    </div>
    <div>
        <label for="title"> title: </label>
        <input id="title" type="text" name="title" />
    </div>
    <div>
        <label for="cover_img"> CoverImage: </label>
        <input id="cover_img" type="text" name="cover_img" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}
