<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" src="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    </head>

    <body>
        {{ version }}
        {{ platform }}

        <form class="well" action="/page/client_content_upload" method="post" >
            <div>
                <label for="version"> Version: </label>
                <input class="input-xlarge" id="version" type="text" name="version" />
            </div>
            <div>
                <label for="platform"> Platform: </label>
                <input id="platform" type="text" name="platform" />
            </div>
            <div>
                <label for="pathname"> Pathname: </label>
                <input id="pathname" type="text" name="pathname" />
            </div>
            <div>
                <label for="content"> Content: </label>
                <textarea id="content" name="content" row="30"></textarea>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
            
        </form>
        This is the client content upload page.
    </body>

</html>
