<div ng-include="'/partials/Pager.html'"></div>
<div ng-repeat="video in videos" class="row">
    <div class="video_item well row">
        <div class="video_thumb span2">
            <a href="{{channel.channel_id + '/' + video.video_id}}"  >
                <img ng-src="{{ video.cover_img }}" />
            </a>
        </div>
        <div class="video_info span8">
            <a class="title" href="{{channel.channel_id + '/' + video.video_id}}">
                <font color="#41418A">
                {{ video.title }}
                </font>
            </a>
            <div>
                <a href="{{channel.channel_id + '/' + video.video_id}}">
                    <span class="icon-pencil"></span>
                    评论: {{ video.comment }}
                </a>

                <a href="{{channel.channel_id + '/' + video.video_id}}">
                    <span class="icon-play"></span>
                    观看: {{ video.view }}
                </a>

                <a  ng-click="like(video.channel_id, video.video_id)"> 
                    <span class="icon-thumbs-up"></span>
                    赞: {{ video.like }}
                </a>
                <a ng-click="dislike(video.channel_id, video.video_id)">
                    <span class="icon-thumbs-down"></span>
                    踩: {{ video.dislike }}
                </a>
            </div>
        </div>
        <div class="pull-right">
            <span class="badge">{{ $index + offset + 1 }}</span>
        </div>

    </div>
</div>
<div ng-include="'/partials/Pager.html'"></div>
