<div ng-include="'/partials/Pager.html'"></div>
<div ng-repeat="video in videos">
    <div class="video_item row">
        <span class="badge">{{ $index + offset + 1 }}</span>
        <div class="video_thumb span2">
            <a href="{{channel.channel_id + '/' + video.video_id}}"  >
                <img ng-src="{{ video.cover_img }}" />
            </a>
        </div>
        <div class="video_info span8">
            <a class="title" href="{{channel.channel_id + '/' + video.video_id}}">
                {{ video.title }}
            </a>
            <div>
                <div>
                    <a href="{{channel.channel_id + '/' + video.video_id}}">
                        评论: 100
                    </a>
                </div>
                <div>
                    <a ng-click="like(channel.channel_id, video.video_id)"> 
                        <span class="icon-thumbs-up"></span>
                    赞: {{ video.like }}
                    </a>
                </div>

                <div>
                    <a ng-click="dislike(channel.channel_id, video.video_id)">
                        <span class="icon-thumbs-down"></span>
                    踩: {{ video.dislike }}
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div ng-include="'/partials/Pager.html'"></div>
