<div ng-include="'/partials/Pager.html'"></div>
<li ng-repeat="video in videos">
    <div class="video_item">
        <div class="video_thumb">
            <a href="{{channel.channel_id + '/' + video.video_id}}"  >
                <img ng-src="{{ video.cover_img }}" />
            </a>
        </div>
        <div class="video_info">
            <a href="{{video.video_url}}" target="__blank" >
                {{ video.title }}
            </a>
            <div>
                <span>
                    <a href="{{channel.channel_id + '/' + video.video_id}}">
                        Comments: 100
                    </a>
                </span>
                <span>
                    <a ng-click="like(channel.channel_id, video.video_id)"> 
                    like: {{ video.like }}
                    </a>
                </span>

                <span>
                    <a ng-click="dislike(channel.channel_id, video.video_id)">
                    dislike: {{ video.dislike }}
                    </a>
                </span>

            </div>
        </div>
    </div>
</li>
<div ng-include="'/partials/Pager.html'"></div>
