body {
    margin-top: 20px;
}

.video_item {
    .video_thumb {
        display: inline-block;
    }

    .video_info {
        display: inline-block;
        margin-left: 20px;
        a {
            margin-bottom: 20px;
        }
        span {
            margin-right:10px;
        }
    }

    margin-top: 20px;
    margin-bottom:30px;
}

.video_item_no_img {
    margin-top: 20px;
}


.channel_item {
    margin-top: 20px;
}

#video-container {
    display: inline-block;
}

#comments-container {
    margin-left: 20px;
    display: inline-block;
}
